<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login - Free Bulma template</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <!-- Bulma Version 0.7.x-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.7.5/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
  </head>

  <body>
    <%include partials/header%>

    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h1 class="title is-1">Login</h1>
            <p class="subtitle has-text-grey">Please login to proceed.</p>
            <div class="box">
              <form action="">
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input
                      class="input is-medium"
                      type="text"
                      placeholder="e.g joe@example.com"
                    />
                  </div>
                </div>

                <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                    <input
                      class="input is-medium"
                      type="password"
                      placeholder="Password"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="checkbox">
                    <input type="checkbox" />
                    Remember me
                  </label>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">
                  Login
                </button>
              </form>
            </div>
            <p class="has-text-grey">
              <a href="../">Sign Up</a> &nbsp;·&nbsp;
              <a href="../">Forgot Password</a> &nbsp;·&nbsp;
              <a href="../">Need Help?</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <%include partials/footer%>
    <script async type="text/javascript" src="../js/bulma.js"></script>
  </body>
</html>
